<!DOCTYPE html>
<html>

<head>
<link href="style.css" rel="stylesheet">
</head>

<body>
	<ul>
		<li><a href="http://localhost:8080">Home</a></li>
		<li><a href="http://localhost:8080/books">Books</a></li>
		<li><a th:text = "${username} == '' ? 'not signed in' : 'signed in'"></a></li>
		<li><a href="http://localhost:8080/login">Login</a></li>
	</ul>
	
	<div th:each = "book : ${allBooks}">
		<a th:text = "|${book.title}   ${book.author}|"
		th:href = "@{http://localhost:8080/books/{id}(id = ${book.id})}"></a>
	</div>
</body>

</html>