<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<form th:action="@{/login}" method="post">
		<label for="username"><b>Username</b></label> 
		<input type="text" placeholder="Enter Username" name="username" required> 
		
		<label for="password"><b>Password</b></label> 
		<input type="password" placeholder="Enter Password" name="password" required>
		
		<button type="submit">Login</button>
		
		<p th:if = "${error}" style = "color:red">Login failed</p>
	</form>
	
	<a href = "/signup">Sign Up</a>
</body>

</html>