<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
	<div th:replace="parts::navBar"></div>
	<ul>
		<div th:if="${bookAvailable}">
			<li><a
				th:href="${loggedIn} ? @{'/checkOut/' + ${book.isbn}} : '/login'">
					Check out</a></li>
			<li>
		</div>
		<div th:if="${not bookAvailable and bookCheckedOutByThisUser}">
			<li><a th:href="@{'/checkOut/' + ${book.isbn}}"> Recheck</a></li>
			<li><a th:href="@{/returnBook}"> Return</a></li>
			<li><a th:href="@{/reportLost}"> Report Lost</a></li>
		</div>
	</ul>

	<div>
		<p th:text="${book}"></p>
	</div>

</body>

</html>