<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
	<div th:replace = "parts::navBar"></div>
	<div>
		<ul>
			<li><a
				th:text="${bookCheckedOutByThisUser} ? 'Recheck' : 'Check out'"
				th:href="${loggedIn} ? @{'/checkOut/' + ${book.id}} : '/login'"></a></li>
			<li><a
				th:text="(${bookCheckedOutByThisUser} and ${loggedIn}) ? 'Return' : ''"
				th:href="'/returnBook'"></a></li>
			<li><a
				th:text="(${bookCheckedOutByThisUser} and ${loggedIn}) ? 'Report Lost' : ''"
				th:href="'/reportLost'"></a></li>
		</ul>
	</div>
	<div>
		<p th:text="${book}"></p>
	</div>
	
</body>

</html>