<!DOCTYPE html>
<html>
<head></head>
<body>
	<form action="/signupProcessing">
		<div>
			<h1>Sign Up</h1>
			<p>Please fill in this form to create an account.</p>
			<hr>
			
			<b>Username</b> 
			<input th:field="*{user.username}" placeholder="Enter Username" required> 

			<b>Email</b> 
			<input th:field="*{user.email}" placeholder="Enter Email" required> 
			
			<b>Password</b> 
			<input th:field="*{user.password}" placeholder="Enter Password" required> 
			
			<b>Repeat Password</b> 
			<input th:field="*{user.matchingPassword}" placeholder="Repeat Password" required>
			
			<div>
				<button type="button">Cancel</button>
				<button type="submit">Sign Up</button>
			</div>
		</div>
	</form>
</body>

</html>